@media only screen and (max-width: 1000px) {
    #nc-root [class*="SidebarContainer-card"] {
        display: block;
        position: relative;
        width: 100%;
    }
    #nc-root [class*="CollectionMain"] {
        display: block;
        padding-left: 0;
    }
    #nc-root [class*="AppMainContainer"] {
        min-width: auto;
    }
}