<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  <!-- head link and script -->
  {{ partial "head.html" .}}

  <!-- Generate CSS -->
  {{ $options := (dict "enableSourceMap" true ) }} {{ $productStyle :=
  resources.Get "news.scss" | resources.ToCSS $options | resources.Fingerprint
  }}
  <link
    rel="stylesheet"
    href="{{ $productStyle.RelPermalink }}"
    integrity="{{ $productStyle.Data.Integrity }}"
  />

  {{ $productStyle := resources.Get "markdown.scss" | resources.ToCSS $options |
  resources.Fingerprint }}
  <link
    rel="stylesheet"
    href="{{ $productStyle.RelPermalink }}"
    integrity="{{ $productStyle.Data.Integrity }}"
  />

  <body>
    <!-- navigation header -->
    <div class="white-header">{{ partial "header.html" .}}</div>

    <div class="article-container">
      <div class="banner">
        <img src="{{ .Params.image }}" alt="{{ .Title }}" />
      </div>
      <div class="container">
        <div class="main">
          <h1 class="title">{{.Title}}</h1>
          <h5 class="date">{{ .Date.Format "January 2, 2006" }}</h5>
          <div class="md-content">{{ .Content }}</div>
        </div>
      </div>
    </div>

    <!-- footer copyright -->
    {{ partial "footer.html" .}}
  </body>
</html>
