{{ $data := index site.Data site.Language.Lang}} {{ $data := index
site.Data.home site.Language.Lang }} {{ $ := index site.Data.header
site.Language.Lang }} {{ $glossary := index site.Data.glossary
site.Language.Lang }}

<section class="section sec1" id="home">
  <div class="left-header">
    <div class="h-shape"></div>
    <img src="{{$data.image}}" class="image" />
  </div>
  <div class="right-header">
    <h1 class="name">{{ $data.title | safeHTML }}</h1>
    <p>{{ $data.shortDescription }}</p>
    <div class="btn-container-group">
      <div class="btn-container">
        <a href="{{$data.cta1Link}}" data-id="product" target="blank">
          {{ if eq $data.cta1Alignment "left" }}
          <span class="btn-icon"><i class="{{$data.cta1Icon}}"></i></span>
          {{ end }}
          <span class="btn-text btn-icon-{{$data.cta1Alignment }}">{{$data.cta1}}</span>
          {{ if eq $data.cta1Alignment "right" }}
          <span class="btn-icon"><i class="{{$data.cta1Icon}}"></i></span>
          {{ end }}
          <i class="bg"></i>
        </a>
      </div>
      <div class="btn-container">
        <a href="{{$data.cta2Link}}" data-id="product" target="blank">
          {{ if eq $data.cta2Alignment "left" }}
          <span class="btn-icon btn-icon-deploy"><i class="{{$data.cta2Icon}}"></i></span>
          {{ end }}
          <span class="btn-text btn-icon-{{$data.cta2Alignment }}">{{$data.cta2}}</span>
          {{ if eq $data.cta2Alignment "right" }}
          <span class="btn-icon btn-icon-deploy"><i class="{{$data.cta2Icon}}"></i></span>
          {{ end }}
          <i class="bg"></i>
        </a>
      </div>
    </div>
  </div>
</section>
